<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galy.lostandfound" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_lostandfound"
        android:label="@string/app_name"
        android:theme="@style/android:Theme.Light" >
        <activity
            android:name="com.galy.lostandfound.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ActivityTheme" >
            <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.galy.lostandfound.FoundItemsActivity"
            android:label="@string/title_activity_found_items" >
        </activity>
        <activity
            android:name="com.galy.lostandfound.MyPostActivity"
            android:label="@string/title_activity_my_post" >
        </activity>
        <activity
            android:name="com.galy.lostandfound.LostItemsActivity"
            android:label="@string/title_activity_lost_items" >
        </activity>
        <activity
            android:name="com.galy.lostandfound.MyMessagesActivity"
            android:label="@string/title_activity_my_messages" >
        </activity>
        <activity
            android:name="com.galy.lostandfound.MoreActivity"
            android:label="@string/title_activity_more" >
        </activity>
        <activity
            android:name="com.galy.lostandfound.PostActivity"
            android:label="@string/title_activity_post" >
        </activity>
        <activity
            android:name="com.galy.lostandfound.DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name="com.galy.lostandfound.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <service
            android:name="com.galy.lostandfound.service.MainService"
            android:exported="false" >
        </service>
        <activity
            android:name="com.galy.lostandfound.SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>
    </application>

</manifest>
